PORT=4000

NODE_ENV=development

MONGODB_URI=your_mongodb_url



JWT_ACCESS_SECRET=yourjwtsecret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=yourrefreshsecret
JWT_REFRESH_EXPIRES_IN=7d


# SMTP configuration for nodemailer
SMTP_HOST=smtp.something.com
SMTP_PORT=2525
SMTP_USER=yourusername
SMTP_PASS=yourpassword
SMTP_FROM_NAME=yourname
SMTP_FROM_EMAIL=youremail@yourcompany.com


CLIENT_URL=http://localhost:4000